# Compiled shit
__pycache__/
*.py[cod]
*$py.class

# data files
*.png
*.gif
*.jpg
*.jpeg

# databases
*.db

*.save

# credentials
credentials.json
praw.ini
cogs/saucenaopy/saucenao.json
*.idea

# virtual environment
venv